#divinizer_wrap {
	background: #fff;
	margin: 40px 20px;
	position: relative;
	box-shadow: 0 5px 30px rgba(0,0,0,.1);
	border-radius: 3px;
}
#divinizer_wrap h1 {
	background-color: #1f999c;
	padding: 20px 30px;
	font-size: 18px;
	color: #fff;
	border-radius: 3px 3px 0 0;
	margin: 0;
}

#divinizer_wrap h2 {
	padding: 5px 30px;
	font-size: 16px;
	font-weight:300;
}

#divinizer_sidebar {
	margin: 0 5%;
	width: 35%;
}

#divinizer_sidebar img {
	max-width: 80%;
}

#divinizer_sidebar ul{
	padding-left: 25px;
}

#divinizer_sidebar p, #divinizer_sidebar ul {
	font-size: 14px;
}

#divinizer_sidebar p.large, #divinizer_sidebar ul.large {
	font-size: 18px;
}


#divinizer_sidebar p, #divinizer_sidebar ul li {
	list-style-type: disc;
}

#divinizer_sidebar a.button{
	color: #fff;
	background: #28c6c9;
	border-color: transparent;
	box-shadow: none;
	height: 45px;
	font-size: 18px;
	line-height: 1em;
	margin: 0 auto;
	padding: 12px 20px;
	text-shadow: none;
	text-align: center;
	width: inherit;
}

@media only screen and (max-width: 1190px) {
	#divinizer_sidebar{
		display: block;
	}
	#divinizer_wrap, #divinizer_sidebar{
		width: 90%;
	}

}

.divinizer-settings{
	width: 45%;
	/*float: left;*/
	display: inline-grid;
}

.divinizer_sections_wrap {overflow: hidden;}
.divinizer_sections_wrap h2 {
	background: #373942;
	padding: 25px 70px;
	margin: 0;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	box-shadow: 0 1px 15px 1px rgba(3, 3, 3, 0.5);
}
.divinizer_sections_wrap h2:hover,
.divinizer_sections_wrap h2.selected {background-color: rgba(0, 0, 0, 0.84);}
.divinizer_sections_wrap table.form-table {margin: 30px;}
.divinizer_sections_wrap select {width: 30%;}
#divinizer_form p.submit input {
	padding: 15px 20px;
	margin: 10px 30px;
	font-size: 14px;
	line-height: 1em;
	color: #fff;
	height: 45px;
	background: #28c6c9;
	border-color: transparent;
	box-shadow: none;
	text-shadow: none;
}
#divinizer_save_message {
	display: block;
	position: fixed;
	top: 40%;
	background: #fff;
	right: 0;
	left: 0;
	margin: auto;
	width: 47px;
	text-align: center;
	padding: 34px;
	box-shadow: rgba(0, 0, 0, .2) 0px 0px 40px;
}

/**
Start of copying over panel.css styling for checkboxes and selcect boxes
 */

#divinizer_wrap .et-box-content{
	display: inline-block;
	width: 200px;
	vertical-align: top;
	padding: 0 0 0 30px;
	box-sizing: border-box;
}

/**
 * Yes / No toggle styling
 */
input.et-checkbox.yes_no_button {
	display: none;
}

#divinizer_wrap .et_pb_yes_no_button {
	width: 100%;
	display: inline-block;
	position: relative;
	cursor: pointer;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
}

#divinizer_wrap .et_pb_yes_no_button.et_pb_off_state {
	background-color: #F1F5F9;
}

#divinizer_wrap .et_pb_yes_no_button.et_pb_on_state {
	background-color: #28c6c9;
}

#divinizer_wrap .et_pb_yes_no_button span.et_pb_button_slider {
	position: absolute;
	background: #FFF;
	width: 50%;
	height: 20px;
	margin: 4px 0;
	background: #FFF;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#divinizer_wrap .et_pb_yes_no_button.et_pb_off_state span.et_pb_button_slider {
	left: 5px;
}

.rtl #divinizer_wrap .et_pb_yes_no_button.et_pb_off_state span.et_pb_button_slider {
	left: 50%;
	margin-left: -5px;
}

#divinizer_wrap .et_pb_yes_no_button.et_pb_on_state span.et_pb_button_slider {
	left: 50%;
	margin-left: -5px;
}

.rtl #divinizer_wrap .et_pb_yes_no_button.et_pb_on_state span.et_pb_button_slider {
	left: 5px;
	margin-left: 0;
}

#divinizer_wrap .et_pb_yes_no_button.et_pb_on_state span.et_pb_value_text.et_pb_on_value {
	margin-left: 0;
	margin-right: 0;
}

#divinizer_wrap .et_pb_yes_no_button.et_pb_off_state span.et_pb_value_text.et_pb_off_value {
	margin-right: 0;
	margin-left: 0;
}

#divinizer_wrap .et_pb_yes_no_button span.et_pb_value_text {
	padding: 6px;
	float: left;
	width: 50%;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.rtl #divinizer_wrap .et_pb_yes_no_button span.et_pb_value_text {
	float: right;
}

#divinizer_wrap span.et_pb_value_text.et_pb_off_value {
	color: #8E969E;
}

#divinizer_wrap span.et_pb_value_text.et_pb_on_value {
	color: #FFF;
}

#divinizer_wrap .et_pb_yes_no_button_wrapper select {
	opacity: 0;
	position: absolute;
	z-index: -1;
	width: 0px !important;
	height: 0px !important;
}

#divinizer_wrap .et-pb-options-tab-advanced .et_pb_yes_no_button_wrapper {
	width: 200px;
	position: relative;
}

#divinizer_wrap .et-pb-options-tab-advanced .et_pb_yes_no_button {
	float: left;
}

#divinizer_wrap .et_pb_button_equal_sides .et_pb_yes_no_button.et_pb_on_state {
	background-color: #F1F5F9;
}

#divinizer_wrap .et_pb_button_equal_sides span.et_pb_value_text.et_pb_on_value {
	color: #8E969E;
}

#divinizer_wrap .et-hidden-option .et_pb_yes_no_button {
	display: none;
}

/**
Select box styling
 */
#divinizer_wrap .et-epanel-box {
	display: inline-block;
	width: 65%;
	vertical-align: top;
	padding: 0 0 0 30px;
	box-sizing: border-box;
}

.et-epanel-box select {
	margin-left: 0;
	border-radius: 3px;
	border: none;
	box-shadow: none;
	background: #F1F5F9;
	padding: 13px;
	font-size: 13px;
	color: #4c5866;
	height: auto;
	width: auto;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	margin-bottom: 0;
	-webkit-transition: background .5s;
	-moz-transition: background .5s;
	transition: background .5s;
	font-weight: 600;
}

.et-epanel-box select {
	padding: 5px 13px;
}

.et-epanel-box select {
	height: 30px;
}

.et-epanel-box select {
	width: 55%;
}
