#divinize_wrap {
    background: #fff;
    margin: 40px 20px;
    position: relative;
}
#divinize_wrap h1 {
    background-color: #262734;
    padding: 20px 30px;
    font-size: 18px;
    color: #fff;
}
.divinize_sections_wrap {overflow: hidden;}
.divinize_sections_wrap h2 {
    background: #373942;
    padding: 25px 70px;
    margin: 0;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    box-shadow: 0 1px 15px 1px rgba(3, 3, 3, 0.5);
}
.divinize_sections_wrap h2:hover,
.divinize_sections_wrap h2.selected {background-color: rgba(0, 0, 0, 0.84);}
.divinize_sections_wrap table.form-table {margin: 30px;}
.divinize_sections_wrap select {width: 30%;}
#divinize_form p.submit input {
	padding: 15px 20px;
	margin: 10px 30px;
	font-size: 14px;
	line-height: 1em;
	color: #fff;
	height: 45px;
	background: #262734;
	border-color: transparent;
	box-shadow: none;
	text-shadow: none;
}
#divinize_save_message {
	display: block;
	position: fixed;
	top: 40%;
	background: #fff;
	right: 0;
	left: 0;
	margin: auto;
	width: 47px;
	text-align: center;
	padding: 34px;
    box-shadow: rgba(0, 0, 0, .2) 0px 0px 40px;
}