#divinizer_wrap {
	background: #fff;
	margin: 40px 20px;
	position: relative;
	box-shadow: 0 5px 30px rgba(0,0,0,.1);
	border-radius: 3px;
}
#divinizer_wrap h1 {
	background-color: #1f999c;
	padding: 20px 30px;
	font-size: 18px;
	color: #fff;
	border-radius: 3px 3px 0 0;
}

#divinizer_wrap h2 {
	padding: 5px 30px;
	font-size: 16px;
	font-weight:300;
}

#divinizer_sidebar {
	margin: 0 5%;
	width: 35%;
}

#divinizer_sidebar ul{
	padding-left: 25px;
}

#divinizer_sidebar p, #divinizer_sidebar ul {
	font-size: 14px;
}

#divinizer_sidebar p.large, #divinizer_sidebar ul.large {
	font-size: 18px;
}


#divinizer_sidebar p, #divinizer_sidebar ul li {
	list-style-type: disc;
}

#divinizer_sidebar a.button{
	color: #fff;
	background: #28c6c9;
	border-color: transparent;
	box-shadow: none;
	height: 45px;
	font-size: 18px;
	line-height: 1em;
	margin: 0 auto;
	padding: 12px 20px;
	text-shadow: none;
	text-align: center;
	width: inherit;
}

.divinizer-settings{
	width: 45%;
	/*float: left;*/
	display: inline-grid;
}

.divinizer_sections_wrap {overflow: hidden;}
.divinizer_sections_wrap h2 {
	background: #373942;
	padding: 25px 70px;
	margin: 0;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	box-shadow: 0 1px 15px 1px rgba(3, 3, 3, 0.5);
}
.divinizer_sections_wrap h2:hover,
.divinizer_sections_wrap h2.selected {background-color: rgba(0, 0, 0, 0.84);}
.divinizer_sections_wrap table.form-table {margin: 30px;}
.divinizer_sections_wrap select {width: 30%;}
#divinizer_form p.submit input {
	padding: 15px 20px;
	margin: 10px 30px;
	font-size: 14px;
	line-height: 1em;
	color: #fff;
	height: 45px;
	background: #28c6c9;
	border-color: transparent;
	box-shadow: none;
	text-shadow: none;
}
#divinizer_save_message {
	display: block;
	position: fixed;
	top: 40%;
	background: #fff;
	right: 0;
	left: 0;
	margin: auto;
	width: 47px;
	text-align: center;
	padding: 34px;
	box-shadow: rgba(0, 0, 0, .2) 0px 0px 40px;
}
